body{
    font-family: 'Teko', sans-serif;
    margin: 0%;
}
#logo{
    width: 200px;
    height: 100px;
}
section div{
    margin: 0;
    padding: 0;
}
.first-section{
    background-image: repeating-linear-gradient(blue, cyan);
    background-repeat: no-repeat;
    margin: 0%;
}
.first-section span{
    color: salmon;
}
.first-section p{
    margin-left: 2%;
}

.menu ul{
    list-style-type: none;
    margin-top: 0%;
    margin-left: 63%;
}
.list li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 900;
    background-color: tomato;
}