body{
    font-family: 'Teko', sans-serif;
    margin: 0%;
    background-image: url(images/WbfAF4.jpg);
}
#logo{
    width: 200px;
    height: 100px;
}
section{
    margin: 0;
    padding: 0;
}
.first-section{
    background-image: repeating-linear-gradient(blue, cyan);
    background-repeat: no-repeat;
}
.first-section span{
    color: salmon;
}
.first-section p{
    margin-left: 2%;
}